@import "common/global";
@import "mixins/media.scss";

.header {
    height: 828px;
    width: 100%;
    background-image: url(./../img/header-bg.png);
    font-weight: 700;
    background-size: cover;
    background-position: center;

    &_side-bar {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 350px;
        height: 828px;
        left: 0px;
        top: 0px;
        background: linear-gradient(360deg, rgba(227, 206, 163, 0.448) 0%, rgba(11, 53, 29, 0) 99.03%), #0B351D;
        opacity: 0.9;

        .menu {
            margin-top: 42px;
            margin-left: 90px;

            &-list {
                height: 247px;
                width: 216px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 15px;
                line-height: 38px;
                letter-spacing: 1px;
            }

            a {
                color: #E3CEA3;
            }
        }

        .logo {
            margin: 28px auto 0;
            width: 223px;
            height: 165px;

            &_img {
                width: 100%;
                height: 100%;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            margin-top: 38px;
            margin-left: 90px;
            font-size: 14px;
            line-height: 21px;

            a {
                color: #9FC460;
            }

            &_cams {
                position: relative;
                padding-left: 33px;
                margin-bottom: 8px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 23px;
                    height: 17px;
                    background-image: url(./../img/cam.svg);
                    top: 2px;
                    left: 0;
                }
            }

            &_tour {
                position: relative;
                padding-left: 33px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 22px;
                    height: 21px;
                    background-image: url(./../img/tour.svg);
                    top: 2px;
                    left: 0;
                }
            }
        }

        .phone {
            margin-top: 29px;
            margin-left: 90px;

            &_link {
                display: flex;
                flex-direction: column;
                letter-spacing: 1px;

                &-number {
                    font-size: 22px;
                    line-height: 28px;
                    color: #E3CEA3;
                }

                &-text {
                    font-size: 14px;
                    line-height: 18px;
                    color: #9FC460;
                }
            }
        }

        .flat_btn {
            display: flex;
            width: 179px;
            height: 50px;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #2B2B2B;
            background-color: #E3CEA3;
            margin-left: 90px;
            margin-top: 39px;
        }

        .burger-menu {
            display: none;
        }

        .toggle-menu {
            display: none;
        }
    }

    .promo {
        position: absolute;
        left: 420px;
        top: 448px;
        width: 524px;

        .forest_logo {
            width: 79px;
            height: 53px;
        }

        &_text {
            margin-top: 15px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            color: #FFFFFF;

            &-1 {
                font-size: 60px;
                line-height: 75px;
                color: #E3CEA3;
            }

            &-2 {
                font-size: 44px;
                line-height: 41px;

            }

            &-3 {
                margin-top: 10px;
                font-size: 48px;
                line-height: 45px;
                letter-spacing: 1px;
            }

            &-4 {
                margin-top: 5px;
                font-size: 34px;
                line-height: 44px;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }

        .address {
            display: none;
        }

        .mob_extra {
            display: none;
        }
    }
}

.main {
    width: 100%;
    font-weight: 700;

    .container {
        width: 1220px;
        margin: 0 auto;
    }

    .location {
        width: 1190px;
        height: 58px;
        margin-top: 50px;
        margin-left: 32px;
        margin-bottom: 50px;

        &_list {
            display: flex;
            justify-content: space-between;
        }

        &_item {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            line-height: 23px;
            color: #9E7B56;
            position: relative;
            padding-left: 51px;
        }

        &_time {
            font-size: 16px;
            line-height: 24px;
        }

        &_metro {
            color: #2D2D2D;
            font-size: 18px;
            line-height: 27px;
        }

        .item {
            &-1 {
                width: 339px;
                height: 46px;
                padding-top: 5px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 37px;
                    height: 37px;
                    background-image: url(./../img/loca_adress.svg);
                    top: 10px;
                    left: 0;
                }
            }

            &-2 {
                width: 201px;
                margin-left: -40px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 37px;
                    height: 37px;
                    background-image: url(./../img/loca_orange.svg);
                    top: 10px;
                    left: 0;
                }
            }

            &-3 {
                margin-left: -10px;
                width: 165px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 37px;
                    height: 37px;
                    background-image: url(./../img/loca_pink.svg);
                    top: 10px;
                    left: 0;
                }
            }

            &-4 {
                margin-left: 25px;
                width: 235px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 37px;
                    height: 37px;
                    background-image: url(./../img/loca_orange.svg);
                    top: 10px;
                    left: 0;
                }
            }
        }
    }


    .banner {
        width: 100%;
        height: 395px;
        background-image: url(./../img/banner_bg.png);
        background-position: center;
        margin-bottom: 55px;
        position: relative;

        &_content {
            position: absolute;
            top: 70px;
            left: 111px;
        }

        &_text {
            margin-top: 14px;
            width: 350px;
            height: 186px;
            font-size: 36px;
            line-height: 45px;
            color: #E3CEA3;


        }
    }

    &_text {
        width: 100%;
        height: 233px;
        font-size: 18px;
        line-height: 27px;
        color: #2D2D2D;
        margin-bottom: 68px;

        &-2 {
            font-weight: 400;
            margin-top: 25px;
        }
    }

    .benefits {
        width: 100%;
        height: 610px;
        display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: 50% 50%;
        margin-bottom: 90px;

        .item {

            &-1 {
                position: relative;
                width: 610px;
                height: 305px;
                background-image: url(./../img/1.jpg);
            }

            &-2 {
                position: relative;
                width: 305px;
                height: 305px;
                background-image: url(./../img/2.jpg);
            }

            &-3 {
                position: relative;
                width: 305px;
                height: 610px;
                background-image: url(./../img/3.jpg);
            }

            &-4 {
                position: relative;
                width: 305px;
                height: 305px;
                background-image: url(./../img/4.jpg);
            }

            &-5 {
                position: relative;
                width: 610px;
                height: 305px;
                background-image: url(./../img/5.jpg);
                margin-left: -305px;
            }
        }

        &_text {
            font-size: 22px;
            line-height: 28px;
            color: #FFFFFF;
        }

        .text {
            &-1 {
                position: absolute;
                bottom: 30px;
                left: 35px;
                width: 250px;
            }

            &-2 {
                position: absolute;
                bottom: 30px;
                left: 35px;
            }

            &-3 {
                position: absolute;
                bottom: 30px;
                left: 47px;
                width: 230px;
            }

            &-4 {
                position: absolute;
                bottom: 30px;
                left: 35px;
            }

            &-5 {
                position: absolute;
                bottom: 30px;
                left: 35px;
                width: 250px;
            }
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 250px;

        &_item {
            display: flex;
            flex-direction: column;
        }

        .item {
            &-1 {
                position: relative;
                padding-left: 70px;
                width: 220px;
                height: 58px;
                margin-left: 20px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 49px;
                    height: 49px;
                    background-image: url(./../img/crane4.svg);
                    top: 0;
                    left: 0;

                }
            }

            &-2 {
                position: relative;
                padding-left: 70px;
                width: 220px;
                height: 58px;
                margin-left: 70px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 49px;
                    height: 49px;
                    background-image: url(./../img/hotel2.svg);
                    top: 0;
                    left: 0;
                }
            }

            &-3 {
                position: relative;
                padding-left: 70px;
                width: 220px;
                height: 58px;
                margin-left: 60px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 39px;
                    height: 39px;
                    background-image: url(./../img/building2.svg);
                    top: 10px;
                    left: 10px;
                }
            }

            &-4 {
                position: relative;
                padding-left: 110px;
                width: 220px;
                height: 58px;
                margin-left: 10px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 60px;
                    height: 60px;
                    background-image: url(./../img/garage3.svg);
                    top: 0;
                    left: 30px;
                }
            }
        }

        .text {
            &-1 {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #9E7B56;
            }

            &-2 {
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 0px;
                text-align: left;
                color: #2D2D2D;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 149px;
    background: #F8F1E2;

    &_content {
        width: 1190px;
        margin: 0 auto;
        display: flex;
        padding-top: 40px;
    }

    &_legal {
        padding-top: 20px;
        width: 500px;
        height: 50px;
        //font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        letter-spacing: 0.5px;
        margin-left: -12px;

    }

    &_social {
        font-size: 23px;
        width: 115px;
        display: flex;
        justify-content: space-between;
        margin-left: 180px;
        padding-top: 20px;

        a {
            color: #2D2D2D;
        }
    }

    &_btn {
        display: block;
        width: 250px;
        height: 50px;
        color: #2D2D2D;
        background: #E3CEA3;
        padding-top: 15px;
        font-size: 15px;
        line-height: 1;
        letter-spacing: 0px;
        text-align: center;
        margin-left: 100px;
        margin-top: 5px;

    }
}


@include media_1440 {

    .header {
        width: 1440px;
        background-size: unset;
        background-position: center;

        .promo {
            &_text {

                &-1 {
                    font-size: 60px;
                    line-height: 75px;
                    color: #E3CEA3;
                }

                &-2 {
                    font-size: 36px;
                    line-height: 34px;

                }
            }
        }

    }


    .main {

        &_text {
            margin-bottom: 90px;
        }

        .container {
            min-width: 1130px;
            margin: 0 auto;
        }


        .location {
            width: 1154px;
            height: 51px;
            margin-top: 30px;
            margin-left: 0;
            margin-bottom: 52px;
        }


        .banner {
            width: 1130px;
            height: 366px;
            margin-bottom: 60px;
        }


        .benefits {
            width: 100%;
            height: 565px;
            display: grid;
            grid-template-columns: 50% 25% 25%;
            grid-template-rows: 50% 50%;

            .item {

                &-1 {
                    width: 565px;
                    height: 282.5px;
                }

                &-2 {
                    width: 282.5px;
                    height: 282.5px;
                    margin-left: -45px;
                }

                &-3 {
                    width: 282.5px;
                    height: 565px;
                    margin-left: -70px;
                }

                &-4 {
                    width: 282.5px;
                    height: 282.5px;
                }

                &-5 {
                    width: 565px;
                    height: 282.5px;
                    margin-left: -330px;
                }
            }

        }

        .info {
            width: 1074px;
            height: 67px;

            &_item {
                display: flex;
                flex-direction: column;
            }

            .item {
                &-1 {
                    position: relative;
                    padding-left: 70px;
                    width: 220px;
                    height: 58px;
                    margin-left: 20px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 49px;
                        height: 49px;
                        background-image: url(./../img/crane4.svg);
                        top: 0;
                        left: 0;

                    }
                }

                &-2 {
                    position: relative;
                    padding-left: 70px;
                    width: 220px;
                    height: 58px;
                    margin-left: 70px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 49px;
                        height: 49px;
                        background-image: url(./../img/hotel2.svg);
                        top: 0;
                        left: 0;
                    }
                }

                &-3 {
                    position: relative;
                    padding-left: 70px;
                    width: 220px;
                    height: 58px;
                    margin-left: 60px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 39px;
                        height: 39px;
                        background-image: url(./../img/building2.svg);
                        top: 10px;
                        left: 10px;
                    }
                }

                &-4 {
                    position: relative;
                    padding-left: 110px;
                    width: 220px;
                    height: 58px;
                    margin-left: 10px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 60px;
                        height: 60px;
                        background-image: url(./../img/garage3.svg);
                        top: 0;
                        left: 30px;
                    }
                }
            }

            .text {
                &-1 {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #9E7B56;
                }

                &-2 {
                    font-size: 18px;
                    line-height: 27px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #2D2D2D;
                }
            }
        }
    }

    /*  &_content {
        width: 1190px;
        margin: 0 auto;
        display: flex;
        padding-top: 40px;

    }*/

}

@include media_1152 {

    .header {
        width: 1152px;
        height: 675px;
        background-size: cover;
        background-position: 25% 100%;

        &_side-bar {
            width: 310px;
            height: 675px;

            .logo {
                margin: 38px auto 0;
                width: 170px;
                height: 108px;
            }

            .menu {
                margin-top: 42px;
                margin-left: 70px;

                &-list {
                    height: 203px;
                    width: 201px;
                    font-size: 15px;
                    line-height: 34px;
                }
            }

            .links {
                margin-top: 55px;
                margin-left: 70px;

                &_cams {
                    margin-bottom: 5px;

                    &::before {
                        width: 19px;
                        height: 14px;
                        background-image: url(./../img/cam.svg);
                        background-size: contain;
                        top: 0;
                        left: 0;
                    }
                }

                &_tour {
                    &::before {
                        width: 18px;
                        height: 17px;
                        background-image: url(./../img/tour.svg);
                        background-size: contain;
                        top: 0;
                        left: 0;
                    }
                }
            }

            .phone {
                margin-top: 20px;
                margin-left: 70px;
            }

            .flat_btn {
                width: 168px;
                height: 41px;
                margin-left: 70px;
                margin-top: 21px;
            }

        }

        .promo {
            left: 342px;
            top: 397px;
            width: 427px;

            .forest_logo {
                width: 64px;
                height: 43px;
            }

            &_text {
                margin-top: 15px;
                padding-left: 10px;

                &-1 {
                    font-size: 50px;
                    line-height: 60px;
                }

                &-2 {
                    font-size: 36px;
                    line-height: 36.2px;
                }

                &-3 {
                    margin-top: 4px;
                    font-size: 48px;
                    line-height: 45px;
                    letter-spacing: 1px;
                }

                &-4 {
                    margin-top: 0;
                    font-size: 30px;
                    line-height: 33px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }

    }
}

@include media_768 {

    .header {
        width: 768px;
        height: 520px;
        background-image: url(../img/768bg.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;


        &_side-bar {
            width: 768px;
            height: 86px;
            flex-direction: row;
            position: fixed;
            left: 0px;
            top: 0px;
            background: #0B351D;
            opacity: 1;
            z-index: 50;

            .logo {
                margin-top: 10px;
                margin-left: 56px;
                width: 97px;
                height: 62px;
            }

            .menu {
                display: none;
            }

            .links {
                display: none;
            }

            .phone {
                position: absolute;
                top: -2px;
                left: 210px;
            }

            .flat_btn {
                width: 168px;
                height: 40px;
                position: absolute;
                top: 0;
                left: 417px;
            }

            .burger-menu {
                display: block;
                position: absolute;
                right: 58px;
                top: 21px;
            }

            .menu-icon-wrapper {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9FC460;
                transition: ease-in 0.2s;
            }

            .menu-icon {
                position: relative;
                width: 14px;
                height: 2px;
                background-color: #234934;
            }

            .menu-icon::before {
                position: absolute;
                left: 0;
                top: -6px;
                content: '';
                width: 14px;
                height: 2px;
                background-color: #234934;
                transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

            }

            .menu-icon::after {
                position: absolute;
                left: 0;
                top: 6px;
                content: '';
                width: 14px;
                height: 2px;
                background-color: #234934;
                transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

            }

            .menu-icon.menu-icon-active {
                background-color: transparent;
            }

            .menu-icon.menu-icon-active::before {
                transform: rotate(45deg);
                top: 0;
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                background: #E3CEA3;
            }

            .menu-icon.menu-icon-active::after {
                transform: rotate(-45deg);
                top: 0;
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                background: #E3CEA3;
            }

            .menu-icon-wrapper.active {
                background-color: transparent;
            }

            .toggle-menu {
                display: block;
                width: 768px;
                height: 440px;
                background-color: #0B351D;
                position: absolute;
                top: 80px;
                left: -768px;
                transition: ease-in 0.4s;
                z-index: 10;

                .menu {
                    display: block;

                    transition: ease 0.4s;
                    margin-top: 82px;
                    margin-left: 54px;

                    &-list {
                        height: 260px;
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 34px;
                    left: 202px;
                    transition: ease 0.4s;
                }

                .phone {
                    display: none;
                }

                .address {
                    display: block;
                    font-size: 18px;
                    line-height: 23px;
                    color: #9E7B56;
                    position: absolute;
                    bottom: 30px;
                    left: 275px;
                    padding-left: 32px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        background-image: url(../img/mob_address.svg);
                        background-repeat: no-repeat;
                        left: 0;
                        top: 0;
                    }
                }
            }

            .toggle-menu.active {
                left: 0;
            }
        }

        .promo {
            left: 40px;
            top: 265px;
            width: 427px;

            .forest_logo {
                margin-left: 10px;
            }

            &_text {
                margin-top: 15px;
                padding-left: 10px;

                &-1 {
                    font-size: 36px;
                    line-height: 45px;
                }

                &-2 {
                    font-size: 26px;
                    line-height: 26.2px;
                }

                &-3 {
                    margin-top: 4px;
                    font-size: 38px;
                    line-height: 35px;
                    letter-spacing: -0.6px;
                }

                &-4 {
                    margin-top: 0;
                    font-size: 25px;
                    line-height: 28px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }

            .address {
                display: block;
                font-size: 18px;
                line-height: 23px;
                color: #9E7B56;
                position: absolute;
                bottom: -10px;
                left: -15px;
                padding-left: 32px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url(../img/mob_address.svg);
                    left: 0;
                    top: 0;

                }
            }
        }

    }
}

@include media_375 {
    .header {
        width: 375px;
        height: 667px;
        background-image: url(../img/375bg.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &_side-bar {
            width: 375px;
            height: 86px;
            flex-direction: row;
            position: fixed;
            left: 0px;
            top: 0px;
            background: #0B351D;
            opacity: 1;
            z-index: 50;

            .logo {
                margin-top: 10px;
                margin-left: 36px;
                width: 97px;
                height: 62px;
            }


            .phone {
                display: none;
            }

            .flat_btn {
                width: 134px;
                height: 41px;
                position: absolute;
                top: 0;
                left: 90px;
            }

            .burger-menu {
                display: block;
                position: absolute;
                right: 35px;
                top: 21px;
            }

            .menu-icon-wrapper {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9FC460;
                transition: ease-in 0.2s;
            }

            .menu-icon {
                position: relative;
                width: 14px;
                height: 2px;
                background-color: #234934;
            }

            .menu-icon::before {
                position: absolute;
                left: 0;
                top: -6px;
                content: '';
                width: 14px;
                height: 2px;
                background-color: #234934;
                transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

            }

            .menu-icon::after {
                position: absolute;
                left: 0;
                top: 6px;
                content: '';
                width: 14px;
                height: 2px;
                background-color: #234934;
                transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

            }

            .menu-icon.menu-icon-active {
                background-color: transparent;
            }

            .menu-icon.menu-icon-active::before {
                transform: rotate(45deg);
                top: 0;
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                background: #E3CEA3;
            }

            .menu-icon.menu-icon-active::after {
                transform: rotate(-45deg);
                top: 0;
                transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                background: #E3CEA3;
            }

            .menu-icon-wrapper.active {
                background-color: transparent;
            }


            .toggle-menu {
                display: block;
                width: 375px;
                height: 505px;
                background-color: #0B351D;
                position: absolute;
                top: 80px;
                left: -375px;
                transition: ease-in 0.4s;
                z-index: 10;

                .menu {
                    display: block;
                    transition: ease 0.4s;
                    margin-top: 38px;
                    margin-left: 105px;

                    &-list {
                        height: 260px;
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 263px;
                    left: 32px;

                }

                .phone {
                    display: block;
                    position: absolute;
                    top: 358px;
                    left: 32px;

                    &_link {
                        display: flex;
                        flex-direction: column;
                        letter-spacing: 1px;

                        &-number {
                            font-size: 22px;
                            line-height: 28px;
                            color: #E3CEA3;
                        }

                        &-text {
                            font-size: 14px;
                            line-height: 18px;
                            color: #9FC460;
                        }
                    }
                }

                .address {
                    font-size: 14px;
                    line-height: 17.6px;
                    bottom: -140px;
                    left: 70px;
                    padding-left: 32px;
                    position: relative;
                    width: 240px;
                    //border: 1px solid red;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        background-image: url(../img/mob_address.svg);
                        background-repeat: no-repeat;
                        left: 0;
                        top: 0;
                    }
                }
            }

            .toggle-menu.active {
                left: 0;
            }
        }

        .promo {
            left: 27px;
            top: 370px;
            width: 427px;

            .forest_logo {
                margin-left: 10px;
            }

            &_text {
                margin-top: 12px;
                padding-left: 10px;

                &-1 {
                    font-size: 36px;
                    line-height: 45px;
                }

                &-2 {
                    font-size: 26px;
                    line-height: 26.2px;
                }

                &-3 {
                    margin-top: 4px;
                    font-size: 38px;
                    line-height: 35px;
                    letter-spacing: -0.6px;
                }

                &-4 {
                    margin-top: 0;
                    font-size: 25px;
                    line-height: 28px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }

            .address {
                display: none;
            }


        }

        .extra {
            display: flex;
            justify-content: space-between;
            height: 86px;
            width: 375px;
            background-color: #0B351D;
            padding-top: 43px;
            padding-left: 70px;
            padding-right: 52px;
            position: absolute;
            bottom: -74px;
            left: 0;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;

            a {
                color: #E3CEA3;
            }

            &_tel {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url(../img/phone-call.svg);
                    width: 17px;
                    height: 18px;
                    top: -28px;
                    left: 30px;
                }
            }

            &_request {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url(../img/bell.svg);
                    width: 14px;
                    height: 15px;
                    top: -24px;
                    left: 48px;
                }
            }
        }

    }







}